[submodule ".vim/bundle/neobundle.vim"]
	path = .vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule ".peco/anyframe"]
	path = .peco/anyframe
	url = https://github.com/mollifier/anyframe
